.anime-item {
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: auto;
}

.left-info-container,
.right-info-container {
    display: flex;
    width: 70px;
    min-width: 70px;
    flex-direction: column;
    height: auto;
    gap: 10px;
}

.left-info-container {
    order: 0;
    margin-right: auto;
}

.right-info-container {
    order: 2;
    margin-left: auto;
}

.anime-art {
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

.anime-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: 1;
    justify-content: center;
    flex-grow: 1;
    pointer-events: none;
}

.anime-title {
    font-size: 16px;
    font-weight: bold;
}

.anime-season,
.anime-opening,
.anime-type {
    font-size: 14px;
}

.anime-season {
    margin-top: 5px;
}

.anime-song-title {
    font-size: 14px;
    margin-top: 5px;
}

.anime-artists-names {
    font-size: 14px;
    margin-top: 5px;
}

.anime-type {
    margin-top: 5px;
}

.anime-opening {
    margin-top: 5px;
}

.anime-episodes {
    font-size: 14px;
}

.anime-links {
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    color: #f0f0f0;
    display: flex;
    /* Use flexbox for row layout */
    gap: 15px;
    /* Space out the links */
    flex-wrap: wrap;
    /* Allow wrapping if the links are too wide */
}

.anime-links a {
    color: #58a3e0;
    /* Blue color for links */
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    pointer-events: auto;
    /* Prevent text from breaking within links */
}

.anime-links a:hover {
    text-decoration: underline;
}

.anime-score {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-image: url('star.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.score-text {
    color: #2d2e30d7;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 32px;
}

.bind-anime-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 70px;
    height: 70px;
    background: #2d2e30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    margin-top: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
}

.bind-anime-button:hover {
    background: #195e0b;
}

.toggle-extra-info-button {
    font-size: 14px;
    /* margin-left: auto; */
    margin-top: 10px;
    padding: 8px 8px;
    right: 0;
    background: #2d2e30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    order: 2;
    min-width: 120px;
    pointer-events: auto;
}

.report-button-container {
    margin-top: auto;
}

.report-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 70px;
    height: 70px;
    background: #2d2e30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
}

.report-button:hover {
    background: #9c332f;
}

@media (pointer: coarse) {

    .toggle-extra-info-button:hover,
    .bind-anime-button:hover,
    .anime-links a:hover .report-button:hover {
        filter: none;
    }
}