.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: min(30px, 5%);
    margin-right: min(30px, 5%);
    font-size: 16px;
    font-weight: bold;
}

.separator::before,
.separator::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: #555;
    margin: 0 10px;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: min(30px, 5%);
    margin-right: min(30px, 5%);
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}
