/* General Styles */
body {
  /* Set background color */
  background-color: #333333;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ff6347;
  /* Set text color for h1 */
}

h3 {
  color: #4682b4;
  /* Set text color for h3 */
}

a {
  color: #4682b4;
}

.settings-header,
.setting-header,
.song-title,
.separator,
.bind-anime-button,
.toggle-extra-info-button,
.anime-score,
.report-button,
.report-header,
.anime-title {
  color: #ec9b22;
}

.artist-name,
.anime-info {
  color: #e4f3ff;
}

.favicon {
  border-radius: 50%;
  /* Makes it round */
  width: 35px;
  /* Adjust as needed */
  height: 35px;
}