.settings-window-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.settings-popup-container {
    background: #2d2e30;
    padding: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50%;
    width: 80%;
    /* min-height: 200px; */
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    /* Limit height to viewport */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.settings-header {
    font-size: 24px;
    text-align: center;
    width: 100%;
}


.close-button,
.dummy {
    width: 30px;
    height: 30px;
}

.dummy {
    order: 0;
    background-color: #2d2e3000;
}

.close-button {
    position: absolute;
    right: 10%;
    order: 2;
    background-color: #a5222200;
    border-radius: 8%;
    border-style: none;
    margin-left: auto;
    cursor: pointer;
    background-image: url('x-close.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: auto; */
}
.close-button:hover {
    background-color: #ffffff17;
}

.setting-header {
    margin-top: 8px;
    order: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    order: 0;
}

.setting-buttons-container {
    padding: 4px;
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 0 1;
    order: 0;
    gap: 8px;
}

.on-color {
    background-color: #179b1788;
}

.off-color {
    background-color: #7a2a2a;
}

.settings-report-button {
    color: azure;
    width: fit-content;
    height: auto;
    background: #800606;
    padding: 8px 12px;
    margin: auto auto 0 auto;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 8%;

    cursor: pointer;
}

.setting-buttons {
    color: azure;
    width: fit-content;
    height: auto;
    padding: 6px 12px;

    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 8%;

    cursor: pointer;
}
.settings-report-button:hover,
.setting-buttons:hover {
    filter: brightness(65%);
}