.report-window-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.popup-container {
    background: #2d2e30;
    /* padding: 1.5rem; */
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 60%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.report-header {
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.report-textarea {
    color: rgb(0, 0, 0);
    flex-grow: 1;
    background-color: #dfdfdf;
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    resize: none;
    display: block;
    margin: 1rem auto;
}

.popup-buttons {
    display: flex;
    flex: 0 1;
    justify-content: space-between;
    gap: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

.popup-cancel,
.popup-submit {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.popup-cancel {
    color: #000000;
    background: #c99343;
    border: none;
}

.popup-cancel:hover {
    background-color: #946c31;
}

.popup-submit {
    background: #5d8333;
    color: white;
    border: none;
}

.popup-submit:hover {
    background: #3e5823;
}