/* position: relative;
display: flex;
flex-grow: 1;
gap: 4px;
justify-content: space-between;
background-color: #252525;
color: white;
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
width: 90%;
flex-direction: row;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
overflow: hidden;
box-sizing: content-box;
height: auto;
border: none; */

.now-playing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #333333;
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.now-playing {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    background-color: #252525;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 242px;
    width: 80%;
    gap: 12px;
    margin: 20px auto;
}

.album-art {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}

.song-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-width: 70px;
}

.song-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.artist-name {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.settings-button {
    background-color: #ffffff00;
    /* margin-left: auto; */
    width: 70px;
    min-width: 70px;
    min-height: 70px;
    height: 70px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    order: 2;
    background-image: url('settings.svg');
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

.anime-score {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-image: url('star.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.settings-button:hover {
    background-color: #ffffff1a;
}